.SearchHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.form-group {
    display: flex;
    width: 50%;
}

.search-button {
    margin-left: 10px;
}

.ProductList {
    width: 90%;
    margin: 5px auto 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    display: inline-block;
    height: 400px;
    width: 20%;
    min-width: 400px;
    max-width: 400px;
    margin: 20px auto;
}

.product-header > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-header span {
    display: inline-block !important;
}

.product-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price {
    color: red !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    border: 1px solid red;
    padding: 0 5px;
    border-radius: 10px;
}

.product-image {
    padding-top: 50%;
    background-size: contain !important;
}

.product-actions {
    margin-top: 10px;
}

.shopping-cart-add {
    display: flex;
    margin-left: auto !important;
}

.upper-buttons, .lower-buttons {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 30px auto;
}

.NoProducts {
    width: 90%;
    text-align: center;
}

.no-items {
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 889px) {
    .form-group {
        width: 90%;
    }
}